@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.pointer{
    cursor: pointer;
}
.pic{
    border-radius: 50%;
}
.none{
    text-decoration: none;
}
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  